ACTION=="change", SUBSYSTEM=="extcon", ENV{STATE}=="USB=0", RUN+="/usr/bin/hm-usb.sh down 38100000.usb"
ACTION=="change", SUBSYSTEM=="extcon", ENV{STATE}=="USB=1", RUN+="/usr/bin/hm-usb.sh up 38100000.usb"