[Unit]
Description=Load/Configure the kernel driver providing the RNDIS gadget
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/bin/hm-usb.sh up 38100000.usb
ExecStop=/bin/bash /usr/bin/hm-usb.sh down 38100000.usb

[Install]
WantedBy=multi-user.target
