[Unit]
Description=host-insight modem manager that starts the modem and start wvdial

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /opt/host-insight-m/host-insight-m.sh
#WatchdogSec=30
 
[Install]
Alias=host-insight-m.service
WantedBy=multi-user.target
