LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BSPDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"

BBFILES ?= ""
BBLAYERS = " \
  ${BSPDIR}/sources/poky/meta \
  ${BSPDIR}/sources/poky/meta-poky \
  \
  ${BSPDIR}/sources/meta-openembedded/meta-oe \
  ${BSPDIR}/sources/meta-openembedded/meta-multimedia \
  ${BSPDIR}/sources/meta-openembedded/meta-networking \
  ${BSPDIR}/sources/meta-openembedded/meta-python \
  ${BSPDIR}/sources/meta-openembedded/meta-gnome \
  ${BSPDIR}/sources/meta-openembedded/meta-filesystems \
  \
  ${BSPDIR}/sources/meta-freescale \
  ${BSPDIR}/sources/meta-freescale-3rdparty \
  ${BSPDIR}/sources/meta-freescale-distro \
  \
  ${BSPDIR}/sources/meta-qt5 \
  ${BSPDIR}/sources/meta-swupdate \
  ${BSPDIR}/sources/meta-virtualization \
  \
  ${BSPDIR}/sources/meta-variscite-hab \
  \
  \
  ${BSPDIR}/sources/meta-hostmobility-bsp \
  ${BSPDIR}/sources/meta-mobility-poky-distro \
"
# Below is scartghap new name or new layer included. Some of these layers could be removed and not needed if we only use the variscite kernel.

BBLAYERS += "${@'${BSPDIR}/sources/meta-imx/meta-imx-sdk' if os.path.exists('${BSPDIR}/sources/meta-imx/meta-imx-sdk') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-imx/meta-imx-bsp' if os.path.exists('${BSPDIR}/sources/meta-imx/meta-imx-bsp') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-imx/meta-imx-ml' if os.path.exists('${BSPDIR}/sources/meta-imx/meta-imx-ml') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-imx/meta-imx-cockpit' if os.path.exists('${BSPDIR}/sources/meta-imx/meta-imx-cockpit') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-imx/meta-imx-v2x' if os.path.exists('${BSPDIR}/sources/meta-imx/meta-imx-v2x') else ' '}"

BBLAYERS += "${@'${BSPDIR}/sources/meta-variscite-bsp-imx' if os.path.exists('${BSPDIR}/sources/meta-variscite-bsp-imx') else '${BSPDIR}/sources/meta-variscite-bsp'}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-variscite-bsp-common' if os.path.exists('${BSPDIR}/sources/meta-variscite-bsp-common') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-variscite-sdk-imx' if os.path.exists('${BSPDIR}/sources/meta-variscite-sdk-imx') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-variscite-sdk-common' if os.path.exists('${BSPDIR}/sources/meta-variscite-sdk-common') else ' '}"

BBLAYERS += "${@'${BSPDIR}/sources/meta-arm/meta-arm' if os.path.exists('${BSPDIR}/sources/meta-arm/meta-arm') else ' '}"
BBLAYERS += "${@'${BSPDIR}/sources/meta-arm/meta-arm-toolchain' if os.path.exists('${BSPDIR}/sources/meta-arm/meta-arm-toolchain') else ' '}"