[Unit]
Description=Run ifplugd for automatic eth0 configuration

Requires=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth0
Restart = always

[Install]
WantedBy=multi-user.target
