[Unit]
Description=Run ifplugd for automatic eth1 configuration

Requires=sys-subsystem-net-devices-eth1.device
After=sys-subsystem-net-devices-eth1.device

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth1
Restart = always

[Install]
WantedBy=multi-user.target
