[Unit]
Description=Run ifplugd for automatic eth2 configuration

Requires=sys-subsystem-net-devices-eth2.device
After=sys-subsystem-net-devices-eth2.device

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth2
Restart = always

[Install]
WantedBy=multi-user.target
