[Unit]
Description=Run on ref unit to monitor ethernet connections

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /opt/hm/monitor_connections.py

[Install]
WantedBy=multi-user.target
