[Unit]
Description=Run ref unit test gui startup script for production rigs

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre = /bin/bash ref_unit.bash
ExecStart=/usr/bin/python3 starve/backend/main.py
WorkingDirectory=/opt/hm

[Install]
WantedBy=multi-user.target
